.sidebar {
  background-color: #161B33;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-top {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.pip {
  max-width: 60%;
  height: auto;
  object-fit: contain;
  display: block;
}

.sidebar-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sidebar-icon-button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}

.sidebar-icon {
  color: white;
}

.sidebar-link {
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
}
